@charset "UTF-8"; 
 
h1,h2,h3,h4,h5,h6 {
margin: 0.6em 0;
font-family: Tahoma, Arial, Helvetica, sans-serif; 
}

h1 {font-size: 2.0em; line-height: 0.25} 
h2 {font-size: 1.625em; line-height: 0.5} 
h3 {font-size: 1.3125em; line-height: 1.24; color: yellow;} 
h4 {font-size: 1.1875em; line-height: 1.23} 
h5,h6 {font-size: 1em; font-weight:italic} 
 
body { 
  background: url("../images/background-min.png"); /*  65% saving on file size */ 
  background-repeat: no-repeat; 
  background-attachment: fixed;  
  background-size: cover; 
  margin: 0; 
} 
/* Heading Graphic with linear-gradient from: https://cssgradient.io/ */ 
/* inputs created using: https://www.html-code-generator.com/css/textbox-style */