.container {
  padding: 20px;
  text-align: center;
  min-height: calc(100vh - 50px);
}

.header{
  font-family: Roobert, Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: cadetblue;
  padding: 15px;
  margin: 0px;
  text-align: center;
  text-decoration: none;
  display:inline-flexbox;
  background-image: linear-gradient(to bottom right,yellow, cadetblue);
  
}

body {
  background: url("../images/background-min.jpg"); /*  61% of original file size */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}
ul{
  transform: skewX(10deg);
}

li{
  list-style: none;
  display: inline-flex;
  padding-left: 10%;
}


.gen_record {
  background-color: cadetblue ;
  opacity: 0%;
  border: 2px;
  border-style:solid;
  border-radius: 15px;
  border-color: black;
  padding: 15px;
  margin: 0 auto;
  width: 50%;
  /* text-align: center; */
  text-decoration: none;
  display: block;
  font-size: 16px; 
  font-family: Roobert, Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
  transform: skewX(-10deg);
}


#place_1{
  background-color:gold; /* Gold */
  opacity: 0%;
  font-size: 20px;
  font-weight: bolder;
}


#place_2{
  background-color: silver; /* silver */
  
}

#place_3{
  background-color: #cd7f32; /* Bronze */
  
}

.footer{
  font-family: Roobert, Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: cadetblue;
  padding: 15px;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  display:block; 
  background-image: linear-gradient(to top right,yellow, cadetblue);
  height: 100px;
}

#myForm{
  /* text-align: center; */
  font-family: Roobert, Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
}